@charset "UTF-8";
/*
font-family: 'Luckiest Guy', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Reggae One', cursive;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Roboto', sans-serif
*/

html {
    font-size: 100%;
}
body {
    color: #002d03;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #002d03;
}
ul {
    list-style-position: inside;
}
li {
    list-style: none;
}
p {
    font-weight: 300;
}
.wrapper {
    width: 100%;
    padding: 1% 5%;
}

select,
input[type="text"] {
    border: 1px solid #002d03;

}
input[type="submit"] {
    border: #002d03;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 30px;
    margin: 0 auto 50px;
    text-align: left;
    width: fit-content;
    font-weight: 200;
    font-size: 1.3rem;
    background: linear-gradient(transparent 80%, #a7f9ff 90%);
}
.bg_btn {
    display: inline-block;
    border-radius: 50rem;
    margin: 50px;
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0px 0 rgba(62, 119, 129, 0.5);
    font-weight: 500;
}

.user_btn {
    color: #ffffff;
    background-image: linear-gradient(120deg, #2af2f5 0%, #bc36ff 100%);
}
.user_btn:hover {
    text-decoration: none;
    background-image: linear-gradient(-30deg, #2af2f5 0%, #bc36ff 100%);
}

.edit_btn {
    color: #ffffff;
    background-image: linear-gradient(120deg, #f52ab1 0%, #af36ff 100%);
}
.edit_btn:hover {
    text-decoration: none;
    background-image: linear-gradient(120deg, #af36ff 0%, #f52ab1 100%);
}

.company_btn {
    color: #ffffff;
    background-image: linear-gradient(120deg, #71c8ff 0%, #2aab10 100%);
}
.company_btn:hover {
    text-decoration: none;
    background-image: linear-gradient(-30deg, #86cffc 0%, #4fd634 100%);

}

.required {
    color: #ffffff;
    background-color: #ff0000;
    font-size: 0.5rem;
    padding: 2px 5px;
    margin-left: 10px;
}



/*header
--------------------------------------*/
#menu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.logo-wrap {
    display: flex;
    align-items: center;

}
.page_header_user {
    background-image: linear-gradient(90deg, #4772ff 0%, #a0f6ff 100%);
}

.page_header_company {
    background-image: linear-gradient(90deg, #25c800 0%, #a0ffdc 100%);
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    color: #ffffff;
}
.logo-sub-text {
    font-size: 0.5rem;
    color: #ffffff;

}
.menu-nav {
    height: 100%;
    display: flex;
    font-size: 0.6rem;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 3% 0;
}
.menu-nav li {
    margin: 0 15px;
}
.status-logout {
    background-color: #a0a0a0;
    color: #ffffff;
    width: 100px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main
--------------------------------------*/

#main {
    margin-top: 100px;
}
.serch {
    padding: 3%;
    display: flex;
    justify-content: space-around;
}

.serch-btn {
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #ddd;
    width: 70px;
    display: inline-block;
    text-align: center;
}

#job {
    background-color: #e5f7ffc4;
}

.job-row {
    display: flex;
    justify-content: space-around;

}

.job-content {
    border-radius: 3%;
    background-color: #ffffff;
    height: 400px;
    width: 25%;
    padding: 1%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 15px 0 rgba(62, 119, 129, 0.25);

}
.company-name {
    margin-bottom: 3%;
}
.job-image {
    width: 108%;
    height: 200px;
    object-fit: cover;
}
.job-text {
    margin-bottom: 3%;
}
.detail {
    display: flex;
    width: 80%;
    background-color: #fcfede;
    border: #edff4b;
    border-radius: 5%;
    padding: 3%;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #c5be34;
}
.detail:hover {
    margin-top: 3px;
    color: #000;
    background: #f9ffa2;
    border-bottom: 2px solid #c5be34;
}
.detail i {
    margin-left: 3%;
}

/*user_login
--------------------------------------*/
.form_title {
    display: inline-block;
    margin-left: -4%;
}


.input_item {
    font-size: 0.9rem;
    font-family: 'Noto Sans JP', sans-serif; ;
    border: 1px solid #000;
    border-radius: 2px;
    display: block;
    margin: 10px 0 40px 0;
    padding: 2%;
    width: 250px;
}

.small_label {
    margin-left: 30px;
}
.user_input_small {
    width: 100px;
    padding: 4%;
}

.input_item_wrapper {
    display: flex;
}

.edit_item {
    background-color: #e7e7e7;
}

#login_send_wrap {
    display: flex;
}

#user_edit_btn {
    background-color: #ce85ffe1;
    color: #fff;
}

/*user_appry_form
---------------------*/

.table {
    font-size: 1.2vw;
    letter-spacing: 0.1rem;
    font-weight: 300;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin: 0 auto 50px;
}

.table tr {
    display: block;
    border-bottom: 1px solid #808080;
    padding: 2% 0;
    padding-left: 8%;
}
.table tr:last-child {
    border: none;
}
.table tr th {
    font-weight: 300;
    width: 11rem;
}
.user_motivation {
    height: 10rem;
    width: 500px;
}

.user_resume {
    display: block;
    width: max-content;
}

/*user_appry_list
--------------------------------------*/
.base_table {
    width: 100%;
    border-spacing: 0px;
    font-size: 1.2vw;
    letter-spacing: 0.1rem;
    font-weight: 300;
}
.base_table th {
    background-color: #f0f0f0;
    padding: 1% 0;
    min-width: 150px;
    font-weight: 300;

}

.base_table tr td {
    display: table-cell;
    padding: 1% 1%;
    font-size: 0.7rem;
    border-bottom: 1px solid #808080;
}

.td_center {
    text-align: center;
}

.icon_td {
    text-align: center;
    height: 100%;
}

.icon {
    font-size: 1.5rem;
    margin: 5%;
}

.fa-message {
color: #25c800;
}

.fa-circle-info {
color: #79afff;
}
.fa-trash{
color: #808080;
}
.fa-pen {
color: #af36ff;
}
.fa-square-xmark {
color: #808080;
}

/*user_message
--------------------------------------*/

.msg_wrap {}

.message {
    margin: 1% 0;
    display: grid;

}
.my_message {
    justify-content: right;
}

.message_body {
    width: max(35vw, 300px);
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1vw;
    font-size: 0.8rem;
}

.my_message_body {
    background-color: #7ee87ec0;
}

.message_datetime {
    font-size: 0.5rem;
    margin-left: 1vw;
}
#send_message_body {
    width: max(35vw, 300px);
    border: 1px solid #a0a0a0;
    border-radius: 1rem;
    padding: 1vw;
}

.user_message_btn {
    width: 95%;
    margin-left: 0;
}

/*footer
--------------------------------------*/
.page_footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_footer_user {
    background-image: linear-gradient(90deg, #a0f6ff 0%, #4772ff 100%);

}

.page_footer_company {
    background-image: linear-gradient(90deg, #a0ffdc 0%, #25c800 100%);

}

.footer-text {
    text-align: center;
    color: #ebebeb;
}
