@charset "UTF-8";
/*
font-family: 'Luckiest Guy', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Reggae One', cursive;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html {
    font-size: 100%;
}
body {
    color: #002d03;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #002d03;
}
ul {
    list-style-position: inside;
}
li {
    list-style: none;
}
p {
    font-weight: 300;
}
.wrapper {
    padding: 1% 3%;
}
select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

select,
input[type="text"] {
    border: 1px solid #002d03;

}
input[type="submit"] {
    border: #002d03;
}

.form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_item_wrap {
    margin-bottom: 15px;
}
.input_item_small_wrap {
    display: flex;
}

.tit_wrap {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;

}

.title {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}
.title::before {
    content: '';
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 90px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 2px;
}
.title span {
    font-size: 0.5rem;
    display: flex;
}

.user_bg_title::before {
    background: #6fc8ff;
}

.company_bg_title::before {
    background: #99ff80;
}

.bg_btn {
    display: inline-block;
    border-radius: 50rem;
    border: #e3e3e3 1px solid;
    box-sizing: border-box;
    margin: 20px;
    width: 120px;
    height: 30px;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0px 0 rgba(62, 119, 129, 0.5);
    font-weight: 500;
}
.bg_btn:hover {
    background-color: #696969;
    color: #ffffff;
}

.user_btn {
    color: #ffffff;
    border: none;
    background: linear-gradient(270deg, #2af2f5 0%, #af36ff 50%, #2af2f5 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    transition: all 0.3s ease-out;
}
.user_btn:hover {
    text-decoration: none;
    background-position: 99% 50%;
    transform: scale(0.95);
    color: #fffb00;
}

.edit_btn {
    color: #ffffff;
    border: none;
    background: linear-gradient(270deg, #f52ab1 0%, #af36ff 50%, #f52ab1 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    transition: all 0.3s ease-out;
}
.edit_btn:hover {
    text-decoration: none;
    background-position: 99% 50%;
    transform: scale(0.95);
    color: #fffb00;
}

.company_btn {
    color: #ffffff;
    border: none;
    background: linear-gradient(270deg, #2af2f5 0%, #2aab10 50%, #2af2f5 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    transition: all 0.3s ease-out;

}
.company_btn:hover {
    text-decoration: none;
    background-position: 99% 50%;
    transform: scale(0.95);
    color: #fffb00;
}

.required {
    color: #ffffff;
    background-color: #ff0000;
    font-size: 0.5rem;
    padding: 2px 5px;
    margin-left: 10px;
    transform: scale(0.65);
    transform-origin: left;
    display: inline-block;

}

/*header
--------------------------------------*/



/*user company
--------------------------------------*/


#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
#menu h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page_header_user {
    background-image: linear-gradient(90deg, #4772ff 0%, #a0f6ff 100%);
}

.page_header_company {
    background-image: linear-gradient(90deg, #25c800 0%, #a0ffdc 100%);
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}
.logo-sub-text {
    font-size: 10px;
    color: #ffffff;
    margin: 0;
}

.menu-content {
    display: flex;
    flex-direction: column;
}

.menu-nav {
    height: 100%;
    display: flex;
    font-size: 10px;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 1% 0;
}

.menu-nav li {
    margin-left: 15px;
}
.nav_link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.nav_link_btn {
    color: #ffffff;
}

.nav_btn {
    margin: 5px 10px;
}
.nav_link::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.nav_link:hover::after {
    transform: scale(1, 1);
}
@media(min-width: 768px) {
    .nav_icon {
        display: none;
    }
}

@media(max-width: 768px) {
    .nav_icon {
        display: inline-block;
        font-size: 1.4rem;
    }
    .nav_link span,
    .nav_link_btn span,
    .login_wrap p {
        display: none;
    }
}

.login_flag {
    width: fit-content;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status_logout {
    background-color: #a0a0a0;
    color: #ffffff;
}
.status_login {
    /*    background-color: #003cff;*/
    /*    background: linear-gradient(270deg, #ff7070 0%, #ccfff3 50%, #ff7070 100%);*/
    color: #000000;
}
.login_image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
}

.status_user_login {
    display: flex;
    align-items: center;
}
@media(max-width: 768px) {
    .status_user_login {
        display: inline-block;
    }
}
.login_wrap {
    display: flex;
    align-items: center;
}

.status_user_login p {
    justify-content: center;
}

/*index
--------------------------------------*/
.page_header_index {
    background-image: url(../common/image/index/bg_img.svg);
    background-size: cover;
    background-position: center;
    height: 120vh;
    z-index: 0;
}

.head_msg_area {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.head_msg {
    color: #000000;
    text-shadow: -3px -3px 1px #ffffff;
}
.msg_main {
    font-size: 5rem;
    text-shadow: -8px -8px 1px #ffffff, 8px 8px 1px blue;
}
.msg_1 {
    font-size: 1.8rem;
}
.msg_2 {
    font-size: 1.5rem;
}
@media(max-width: 768px) {
    .msg_main {
        font-size: 3rem;
    }
    .msg_1 {
        font-size: 1rem;
    }
    .msg_2 {
        font-size: 0.9rem;
    }
}

.head_btn_area {
    position: absolute;
    top: 80vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    display: flex;

}

.head_btn {
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
.head_btn_text {
    font-size: 0.8rem;
}
@media(max-width: 768px) {
    .head_btn_area {
        flex-direction: column;
    }
}


.index_logo_area {
    background-color: #0008f9;
    color: #ffffff;
    height: 150px;
    width: 200px;
    border-radius: 0 0 20% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 768px) {
    .index_logo_area,
    #menu {
        height: 50px;
        width: 100vw;
        border-radius: 0;
        position: fixed;
    }
    .logo-wrap {
        margin: 0 auto;
    }
    .index_logo_wrap,
    #menu h1 {
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .index_logo_wrap a {
        height: 100%;
    }
}
.page_header_flex_wrap {
    display: flex;
    align-content: space-between;
}

.index_menu_content {
    background-color: #ffffffd0;
    border: 1px solid #8b8b8b;
    border-right: none;
    box-sizing: border-box;
    border-radius: 50rem 0 0 50rem;
    height: fit-content;
    padding: 5px;
    margin-top: 35px;
    position: fixed;
    right: 0;
    z-index: 1;
}
.menu-nav_index {
    height: auto;
    margin-right: 0;
    margin-left: auto;
}

.serch_word {
    background-color: #ffffff;
    border-radius: 2px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 25px;
    margin: 0 20px 0 auto;
    height: 1.5rem;
}
#serch_word_input {
    border: solid 1px #dcdcdc;
    border-radius: 2px;
}
.serch-btn {
    border-radius: 2px;
    color: #ffffff;
    background-color: #ddd;
    display: inline-block;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px) {
    .index_menu_content {
        background-color: #00000000;
        border: none;
    }
    .menu-nav_index,
    .user_menu-nav {
        position: fixed;
        left: 0;
        /*  ページの一番下に固定する */
        bottom: 0;
        background: rgb(136, 136, 136);
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .serch_area {
        display: none !important;
    }
    .menu-nav_index li,
    .menu-nav li {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 5px;
        list-style: none;
        text-align: center;
        color: #ffffff;
        border-left: 1px solid #ffffff;
    }
    .menu-nav_index li a,
    .nav_link,
    .login_wrap p {
        color: #ffffff;
    }
    .login_flag {
        height: fit-content;
    }

    .menu-nav_company {
        justify-content: flex-start;
    }

}

/*ハンバーガーボタン
--------------------------------------*/

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #35bb47;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.hamburger-menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 98;
    background-color: #35bb4b;
    transition: all 0.5s;
}
#menu-btn-check:checked~.hamburger-menu-content {
    left: 0;
    /*メニューを画面内へ*/
}
.hamburger-menu-content ul {
    padding: 70px 10px 0;
    flex-direction: column;
}
.hamburger-menu-content ul li {
    border-bottom: solid 1px #bebebe;
    border-left: none;
    list-style: none;
    color: #000000;
}
.hamburger-menu-content .status_user_login {
    justify-content: center;
    display: flex;

}
.hamburger-menu-content .login_wrap {
    display: flex;
    flex-direction: row;
}
.hamburger-menu-content .login_wrap p {
    color: #000000;
}
.hamburger-menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.hamburger-menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #000000;
    border-right: solid 2px #000000;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
    right: 0;
}
@media(min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}
@media(max-width: 768px) {
    .menu-content_wrap {
        display: none;
    }
}
/*main
--------------------------------------*/

#main {
    margin-top: 110px;
    margin-bottom: 3rem;
    min-height: 60vh;
}
.index_main {
    padding: 10px 0;
}

.serch_word_echo {
    text-align: center;
}

.sort {
    text-align: end;
}
.sort_items {
    height: 30px;
    margin-right: 5px;
}

.sort_btn {
    padding: 3px 6px;
    text-align: center;
    justify-content: center;
    background-color: #696969;
    border-radius: 3px;
    color: #ffffff;
}

#job {
    background-color: #f6f6f6c4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media(max-width: 768px) {
    #job {
        grid-template-columns: 1fr;

    }

}

.job-content {
    border-radius: 10px;
    background-color: #ffffff;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 15px 0 rgba(62, 119, 129, 0.25);

}
.company-name {
    background: linear-gradient(270deg, #2af2f5 0%, #af36ff 100%);
    color: #dcdcdc;
    font-size: 1rem;
    border-radius: 10px 10px 0px 0px;
    padding: 0 10px;
    width: 100%;
    font-weight: 300;
}
.appry_status {
    width: 50%;
    margin: 15px auto;
    border-radius: 5px;
    text-align: center;
    border: #696969 1px solid;
}

.index_job_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.job_info_wrap {
    padding: 0px 10px;
    width: 100%;
}
.user_info_wrap {
    padding: 15px 10px;
    width: 100%;
    border-top: 1px solid#cccccc;
    border-bottom: 1px solid#cccccc;
    text-align: center;
}

.job_name_text {
    margin: 10px 0;
    text-align: center;
}

.saraly_text {
    margin-bottom: 10px;
    text-align: right;
    color: #808080;
}
.job-text,
.job-span,
.job-area {
    font-size: 0.9rem;
    margin: 0 auto 10px 5px;
    color: #808080;
}
.detail {
    display: flex;
    width: 80%;
    background-color: #fcfede;
    border: #edff4b;
    border-radius: 5%;
    padding: 3%;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #c5be34;
}
.detail:hover {
    margin-top: 3px;
    color: #000;
    background: #f9ffa2;
    border-bottom: 2px solid #c5be34;
}
.detail i {
    margin-left: 3%;
}

.user_resume {
    margin: 0 0 0 auto;
}

.user_info_name {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;

}
/*user_login
--------------------------------------*/
.form_title {
    display: inline-block;
    margin: 0.4em 0.5em;
    padding-left: 0.5rem;
    color: #494949;
    font-size: 0.7rem;
}

.company_title {
    border-left: solid 10px #86ff86;
}
.user_title {
    border-left: solid 10px #6fc8ff;
}

.login_err_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.input_item {
    font-size: 0.9rem;
    font-family: 'Noto Sans JP', sans-serif;
    border: 1px solid #000;
    border-radius: 2px;
    display: inline-block;
    margin: 5px 0px 0px 30px;
    padding: 4px;
    width: 300px;
}

.small_label {
    margin-left: 30px;
}
.user_input_small {
    width: 100px;
    padding: 2px;
    margin-right: 20px;
}
/*user_show
---------------------*/
.show_body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.show_wrap {
    align-content: center;

}

.show_btn {
    display: flex;
    margin: 0 auto;
}


/*user_edit
---------------------*/

.edit_item {
    background-color: #e7e7e7;
}

#login_send_wrap {
    display: flex;
}
.top_err_msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

/*user_appry_form
---------------------*/

.table {
    font-size: 1.2vw;
    letter-spacing: 0.1rem;
    font-weight: 300;
    max-width: 900px;
    box-sizing: border-box;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin: 0 auto 50px;
    word-break: break-all;
}

.table tr {
    display: block;
    border-bottom: 1px solid #808080;
    padding: 2% 2% 2% 3%;

}
.table tr:last-child {
    border: none;
}
.table tr th {
    font-weight: 300;
    width: 11rem;
}
.element td div {
    padding: 0% 50px;
}

.user_motivation {
    height: 10rem;
    width: 500px;
}

.up_load {
    display: block;
    width: max-content;
    border: none;
}

.appry_image {
    display: flex;
    justify-content: center;
}
.appry_image img {
    max-width: 90%;
}

.appry_msg {
    margin: 30px;
    text-align: center;
}

/*user_appry_list
--------------------------------------*/
.base_table {
    width: 95%;
    border-spacing: 0px;
    font-size: 0.8rem;
    letter-spacing: 3px;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 40px;
}
.base_table th {
    background-color: #f0f0f0;
    padding: 1% 0;
    font-weight: 300;
    color: #828282;
}

.base_table tr td {
    display: table-cell;
    padding: 1% 3px;
    font-size: 0.7rem;
    border-bottom: 1px solid #808080;
}

.td_center {
    text-align: center;
}
.long_text {
    max-width: 300px;
}

.icon_td {
    text-align: center;
    height: 100%;
}

.icon {
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
}
.icon:hover {
    font-size: 1.8rem;
}
.icons_wrap {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    width: 100%;
}

.icon_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon_wrap p {
    font-size: 10px;
}

.fa-message {
    color: #25c800;
}
.fa-circle-info {
    color: #79afff;
}
.fa-trash {
    color: #808080;
}
.fa-pen {
    color: #af36ff;
}
.fa-square-xmark {
    color: #808080;
}
.fa-file {
    color: #808080;
}
.fa-thumbs-up {
    color: rgb(211, 255, 153);
}

.user_adopted {
    font-weight: 900;
    background-color: #6aff4d;
}

/*user_message
--------------------------------------*/
.message {
    margin: 1% 0;
    display: grid;

}
.my_message {
    justify-content: right;
}

.message_body {
    width: max(35vw, 300px);
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1vw;
    font-size: 0.8rem;
}

.my_message_body {
    background-color: #7ee87ec0;
}

.message_datetime {
    font-size: 0.5rem;
    margin-left: 1vw;
}
#send_message_body {
    width: max(35vw, 300px);
    border: 1px solid #a0a0a0;
    border-radius: 1rem;
    padding: 1vw;
}

.message_send_btn {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
}
/*company_job_create
--------------------------------------*/

.jpy_wrap {
    display: flex;
}
.jpy_wrap p {
    height: fit-content;
    margin-top: 16px;
}

.date_item {
    width: 120px;
}

.time_item {
    width: 90px;

}
/*job_edit
--------------------------------------*/

.edit_image {
    margin-top: 2rem;
}

.edit_image img {
    margin-top: 1em;
    max-width: 500px;
}

.edit_image p {
    font-size: small;
    text-align: center;
}
/*company_jobofer_list
--------------------------------------*/
.new_ofer_btn {
    margin: 5% auto 0;
}

/*company_appry_list
--------------------------------------*/

.company_appry_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user_image {
    max-width: 100%;
    max-height: 300px;

}

@media(max-width: 768px) {
    .company_appry_list {
        grid-template-columns: 1fr;
    }

}

/*company_job_show
--------------------------------------*/

.show_item_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.company_show_image {
    margin-top: 0;
}
/*footer
--------------------------------------*/
.page_footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_footer_user {
    background-image: linear-gradient(90deg, #a0f6ff 0%, #4772ff 100%);

}

.page_footer_company {
    background-image: linear-gradient(90deg, #a0ffdc 0%, #25c800 100%);

}
.index_footer {
    background-color: #000000;
}

.footer-text {
    text-align: center;
    color: #ebebeb;
}

@media(max-width: 768px) {
    .page_footer {
        margin-bottom: 50px;
    }
}

/*err
--------------------------------------*/

.err_input {
    background-color: #ffd1d1;
}

.err_msg {
    color: #ff0000;
    margin-left: 40px;
    font-size: 0.7rem;
}
.err_msg li {
    margin-top: 5px;
}

.fa-circle-exclamation {
    margin-right: 3px;
}
